<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">QRCode</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">QRCode</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader" style="background-color: white;">
                                    <ul class="header-buttons-left ml-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>QRCode ทั้งหมด</strong></h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="ค้นหา" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>

                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <div class="icon-button-demo">
                                                <button mat-mini-fab color="primary"  (click)='addRow()'>
                                                    <mat-icon class="col-white">add</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="header-buttons m-r-100">
                                        <li>
                                            <div class="icon-button-demo">
                                                <button mat-mini-fab  (click)='print()'>
                                                    <mat-icon class="col-white">print</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>



                                </div>


                                <ngx-datatable   (activate)="onActivate($event)" #table class="material" [rows]="data" [columns]="columns"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="180" [limit]="3">
                                    <ngx-datatable-column prop="qrcode-id" name="รหัส" width="200">
                                    </ngx-datatable-column>
                                  

                                    <ngx-datatable-column prop="qrCode" name="QrCode" sortable="false"
                                    [width]="120">
                                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                        ngx-datatable-cell-template>
                                      
                                            <ngx-qrcode  [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                                            value="{{value}}"></ngx-qrcode>

                                      
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column prop="print" name="สถานะพิมพ์" width="200">
                                </ngx-datatable-column>



                                </ngx-datatable>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>