<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 style="font-family: Prompt; font-size: 30pt;" class="page-title">ผู้ป่วย</h4>
                        </li>
                        <li style="font-family: Prompt; font-size: 30pt;"  class="breadcrumb-item bcrumb-1">
                            <a  style="font-family: Prompt; font-size: 30pt;" routerLink="/dashboard/main">
                                Home</a>
                        </li>
                        <li  style="font-family: Prompt; font-size: 30pt;" class="breadcrumb-item active">รายงานตัวผู้ป่วย</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong style="font-family: Prompt; font-size: 30pt;" >รายงานตัวผู้ป่วย</strong>
                    </h2>
                </div>
                <div class="body">
                    <section id="cd-timeline" class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass1}}">
                                <img src="{{stepImg1}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 style="font-family: Prompt; font-size: 20pt;" class="timelineLabelColor">
                                    <strong style="font-family: Prompt; font-size: 20pt;" >ขั้นตอนที่ 1</strong> รายงานตัวผู้ป่วย</h2>
                                <p style="font-family: Prompt; font-size: 18pt;" >โปรดเสียบบัตรประชาชน จากนั้นกดปุ่ม</p>
                                <button style="font-family: Prompt; font-size: 20px;" id="step2"(click)="onClickStep1()" class="btn btn-success">เสียบบัตรแล้ว</button>
                                
                                <!-- <span class="cd-date">Jan 14</span> -->
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass2}}">
                                <img src="{{stepImg2}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 style="font-family: Prompt; font-size: 20pt;" class="timelineLabelColor">
                                    <strong style="font-family: Prompt; font-size: 20pt; "> ขั้นตอนที่ 2</strong> ตรวจสอบข้อมูล</h2>

                                <p style="{{statusColor}} font-family: Prompt; font-size: 18pt"> สถานะ : {{statusCard}}</p>
                                <p style="font-family: Prompt; font-size: 18pt" >ชื่อ : {{fullname}}</p>
                                <p style="font-family: Prompt; font-size: 18pt" >รหัสบัตรประชาชน : {{cid}}</p>
                                <p style="font-family: Prompt; font-size: 18pt">วันเดือนปีเกิด : {{date}}</p>
                                <p style="font-family: Prompt; font-size: 18pt" >ที่อยู่ : {{address}}</p>

                                <p style="font-family: Prompt; font-size: 18pt; color: red;" >โปรดตรวจสอบข้อมูล หากผิดพลาดโปรดติดต่อเจ้าหน้าที่</p>
                                <button  style="font-family: Prompt;" id="step3" (click)="onClickStep2()" class="btn btn-sm btn-success">ข้อมูลถูกต้อง</button>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass3}}">
                                <img src="{{stepImg3}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2   style="font-family: Prompt; font-size: 20pt;" class="timelineLabelColor">
                                    <strong  style="font-family: Prompt; font-size: 20pt; " >ขั้นตอนที่ 3 </strong>ถ่ายภาพหน้าตรง</h2>

                                    <p  style="font-family: Prompt; font-size: 18pt" >โปรดยืนให้ศรีษะตรง แล้วกดถ่ายภาพ</p>
                                
                                <p  style="font-family: Prompt; font-size: 18pt" style="{{statusImageColor}}">สถานะ : {{statusImage}}</p>
                                <div  style="font-family: Prompt;" class="col-lg-12">
                                    <div class="map m-t-10">

                                        <img src="{{fileImage}}" width="300" height="300" alt="">
                                        <!-- <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798893698!2d-74.25986762659859!3d40.697670067978756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1520161357422"></iframe> -->
                                    </div>
                                </div>
                                <button  style="font-family: Prompt;"   id="step4" (click)="onClickStep3()" class="btn btn-sm btn-success">ถ่ายภาพ</button>
                                <!-- <span class="cd-date">Jan 14</span> -->
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass4}}">
                                <img src="{{stepImg4}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2  style="font-family: Prompt; font-size: 20pt" class="timelineLabelColor">
                                    <strong  style="font-family: Prompt; font-size: 20pt" >ขั้นตอนสุดท้าย </strong>Scan QR Code</h2>
                                <div class="row">
                                    <p  style="font-family: Prompt; font-size: 18pt" >นำแก้วมา Scan QR Code จากนั้นกดบันทึกข้อมูล</p>  <br>
                                    <input  style="font-family: Prompt; font-size: 18pt" id="qrcodeText" #qrcode type="text" value="" >
                                </div>
                                
                                <div class="row">
                                <button  style="font-family: Prompt;" style="margin-top: 10px;"  (click)="onClickStep4()" class="btn btn-sm btn-success">บันทึกข้อมูล</button>
                                </div>

                                <!-- <span class="cd-date">Feb 14</span> -->
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
       
                        <!-- cd-timeline-block -->
                    </section>
                    <!-- cd-timeline -->
                </div>
            </div>
        </div>
    </div>
</section>