<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4   style="font-family: Prompt;" class="page-title">ผู้ป่วย</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a  style="font-family: Prompt;" routerLink="/dashboard/main">
                                <i    class="fas fa-home"></i> Home</a>
                        </li>
                        <li  style="font-family: Prompt;" class="breadcrumb-item active">ส่งผล</li>
                    </ul>
                </div>
            </div>
        </div> -->


        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong style="font-family: Prompt; font-size: 30pt;" >ส่งผล</strong>
                    </h2>
                </div>
                <div class="body">
                    <section id="cd-timeline" class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass1}}">
                                <img src="{{stepImg1}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 style="font-family: Prompt; font-size: 20pt" class="timelineLabelColor">
                                    <strong style="font-family: Prompt;  font-size: 20pt" >ขั้นตอนที่ 1</strong> ตรวจสอบความถูกต้อง</h2>
                                <p style="font-family: Prompt; font-size: 18pt" >โปรดเสียบบัตรประชาชน จากนั้นกดปุ่ม</p>
                                <button style="font-family: Prompt;" id="step1" (click)="onClickStep1()" class="btn btn-sm btn-success">เสียบบัตรแล้ว</button>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass2}}">
                                <img src="{{stepImg2}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 style="font-family: Prompt; font-size: 20pt"  class="timelineLabelColor">
                                    <strong style="font-family: Prompt; font-size: 20pt" >ขั้นตอนที่ 2</strong> ตรวจสอบข้อมูล</h2>

                                <p style="font-family: Prompt ; font-size: 18pt" style="{{statusColor}}"> สถานะ : {{statusCard}}</p>
                                <p style="font-family: Prompt; font-size: 18pt">ชื่อ : {{fullname}}</p>
                                <p style="font-family: Prompt; font-size: 18pt">รหัสบัตรประชาชน : {{cid}}</p>
                                <p style="font-family: Prompt; font-size: 18pt" >วันเดือนปีเกิด : {{date}}</p>
                                <p style="font-family: Prompt; font-size: 18pt" >ที่อยู่ : {{address}}</p>

                                <p style="font-family: Prompt; color: red; font-size: 18pt" >โปรดตรวจสอบข้อมูล หากผิดพลาดโปรดติดต่อเจ้าหน้าที่</p>
                                <button style="font-family: Prompt;" id="step2" (click)="onClickStep2()" class="btn btn-sm btn-success">ข้อมูลถูกต้อง</button>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass3}}">
                                <img src="{{stepImg3}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 class="timelineLabelColor"   style="font-family: Prompt; font-size: 20pt" >
                                    <strong style="font-family: Prompt; font-size: 20pt" >ขั้นที่ 3 </strong> Scan QR Code</h2>
                                <div class="row">
                                    <p style="font-family: Prompt; font-size: 18pt" >นำแก้วมา Scan QR Code จากนั้นกดตรวจสอบข้อมูล</p> <br>
                                    <input id="qrcodeText" type="text" value="">
                                </div>
                                <div class="row">
                                <button style="font-family: Prompt; font-size: 18pt" id="step3"  style="margin-top: 10px;" (click)="onClickStep3()"
                                    class="btn btn-sm btn-success">ตรวจสอบข้อมูล</button>

                                    </div>

                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass4}}">
                                <img src="{{stepImg4}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 style="font-family: Prompt; font-size: 20pt " class="timelineLabelColor">
                                    <strong style="font-family: Prompt; font-size: 20pt " >ขั้นตอนที่ 4 </strong> เลือกผล</h2>

                                    <mat-chip-list>
                                        <mat-chip style="font-family: Prompt; font-size: 18pt " >1 ขีด</mat-chip>
                                        <mat-chip style="font-family: Prompt; font-size: 18pt" >2 ขีด</mat-chip>
                                      
                                     </mat-chip-list>

                                <button style="font-family: Prompt;" id="step4" style="margin-top: 10px;" (click)="onClickStep4()"
                                    class="btn btn-sm btn-success">ถัดไป</button>

                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass5}}">
                                <img src="{{stepImg5}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 class="timelineLabelColor" style="font-family: Prompt; font-size: 20pt">
                                    <strong style="font-family: Prompt; font-size: 20pt" >ขั้นตอนที่ 5 </strong>ตอบคำถาม</h2>
                                    <p style="font-family: Prompt; font-size: 18pt" >ในขณะนี้ท่านได้ใช้สารเสพติดหรือไม่</p>

                                    <mat-chip-list >
                                        <mat-chip style="font-family: Prompt; font-size: 18pt" >บางครั้ง</mat-chip>
                                        <mat-chip style="font-family: Prompt; font-size: 18pt" >ทุกวัน</mat-chip>
                                        <mat-chip style="font-family: Prompt; font-size: 18pt" >ไม่ใช้เลย</mat-chip>
                                      
                                     </mat-chip-list>
                                <button style="font-family: Prompt; margin-top: 10px;" id="step5" (click)="onClickStep5()" class="btn btn-sm btn-success">ถัดไป</button>
                                <!-- <span class="cd-date">Jan 14</span> -->
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img {{stepClass6}}">
                                <img src="{{stepImg6}}" alt="User">
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="cd-timeline-content">
                                <h2 style="font-family: Prompt; font-size: 20pt" class="timelineLabelColor">
                                    <strong style="font-family: Prompt; font-size: 20pt" >ขั้นตอนที่ 6 </strong>ถ่ายภาพ Strip ตรวจสารเสพติด</h2>


                                    <p style="font-family: Prompt; font-size: 18pt" style="{{statusImageColor}}">สถานะ : {{statusImage}}</p>
                                <div class="col-lg-12">
                                    <div class="map m-t-10">

                                        <img src="{{fileImage}}" width="300" height="300" alt="">
                                        <!-- <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798893698!2d-74.25986762659859!3d40.697670067978756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1520161357422"></iframe> -->
                                    </div>
                                </div>
                                <button style="font-family: Prompt;" id="step6" (click)="onClickStep6()" class="btn btn-sm btn-success">ถ่ายภาพ</button>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        
                        <!-- cd-timeline-block -->
                    </section>
                    <!-- cd-timeline -->
                </div>
            </div>
        </div>
    </div>
</section>