<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Animations</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">UI</a>
                        </li>
                        <li class="breadcrumb-item active">Animations</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Attention</strong> Seekers</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__jello">
                                <div class=" item-title">
                                    <h4 class="text-center mb-5 mt-4">jello</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__flash">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">Flash</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__pulse">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">pulse</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rubberBand">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rubberBand</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__shakeX">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">shakeX</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__shakeY">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">shakeY</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/6.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__swing">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">swing</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__tada">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">tada</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/8.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__wobble">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">wobble</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/9.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounce">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">Bounce</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Bouncing</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInUp</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Bouncing</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__bounceOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutUp</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Fading</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInDownBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInDownBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInLeftBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInLeftBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/6.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInRightBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInRightBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInUp</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/9.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeInUpBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInUpBig</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Fading</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutDownBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutDownBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutLeftBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutLeftBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/6.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutRightBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutRightBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/8.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutUp</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/9.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__fadeOutUpBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutUpBig</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Flippers</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__flip">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flip</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__flipInX">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipInX</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/3.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__flipInY">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipInY</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__flipOutX">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipOutX</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__flipOutY">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipOutY</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Lightspeed</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__lightSpeedInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">lightSpeedInRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__lightSpeedInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">lightSpeedInLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__lightSpeedOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">lightSpeedOutRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__lightSpeedOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">lightSpeedOutLeft</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Rotating</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateInDownLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInDownLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateInDownRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInDownRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateInUpLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInUpLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateInUpRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInUpRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Rotating</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/9.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateOutDownLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutDownLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/5.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateOutDownRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutDownRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateOutUpLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutUpLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rotateOutUpRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutUpRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Sliding</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInUp</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Sliding</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutUp</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__slideOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Zoom</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInUp</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Zoom</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/4.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/9.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__zoomOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutUp</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Specials</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/1.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__hinge">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">hinge</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/2.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rollIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rollIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="assets/images/image-gallery/7.jpg" alt="img" class="img-fluid img-animate"
                                    data-animation="animate__rollOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rollOut</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>