<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Profile</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Extra</a>
                        </li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{name}}</div>
                            </div>
                            <img src="{{imgPath}}" class="user-img" alt="">
                            <p>
                                <b>ที่อยู่</b> {{address}}
                            </p>
                            <div>
                                <span class="accessibility">
                                    <i class="material-icons"></i><b>เลขบัตรประชาชน</b> {{idn}}</span>
                            </div>
                            <!-- <div class="row">
                                <div class="col-4">
                                    <h5>564</h5>
                                    <small>Following</small>
                                </div>
                                <div class="col-4">
                                    <h5>18k</h5>
                                    <small>Followers</small>
                                </div>
                                <div class="col-4">
                                    <h5>565</h5>
                                    <small>Post</small>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-12">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="project" aria-expanded="true">

                        <div class="card project_widget">


                            <div class="row clearfix">

                                <div style="margin-left: 10px; margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                                    <p style="font-size: 16pt;">รายงานตัว</p>
                                </div>

                                <div style="margin-left: 40px; margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                                    <p style="font-size: 12pt;">วันเวลา : {{dtc}}</p>
                                </div>
                                <div style="margin-left: 20px; margin-top: 5px" class="col-lg-12 col-md-12 col-sm-12">


                                    <div class="row" style="margin-left: 20px; margin-top: 5px">
                                        <p style="font-size: 12pt;">รูปรายงานตัว : </p>
                                        <img id='imgToExport' style="margin-top: 20px" src="http://34.87.185.176/image_checkin/{{imgc}}"
                                            alt="">
                                    </div>
                                </div>

                                <div style="margin-left: 20px; margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">

                                    <div class="row" style="margin-left: 20px; margin-top: 5px">
                                        <p style="font-size: 12pt;">QRCode : </p>
                                        <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                                        [value]="value"></ngx-qrcode>
                                    </div>

                                   
                                </div>
                            </div>



                            <div class="row clearfix">

                                <div style="margin-left: 10px; margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                                    <p style="font-size: 16pt;">ส่งผล</p>
                                </div>

                                <div style="margin-left: 40px; margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                                    <p style="font-size: 12pt;">วันเวลา : {{dtr}}</p>
                                </div>
                                <div style="margin-left: 20px; margin-top: 5px" class="col-lg-12 col-md-12 col-sm-12">


                                    <div class="row" style="margin-left: 20px; margin-top: 5px">
                                        <p style="font-size: 12pt;">ผล : {{result}} </p>
                                        <img style="margin-top: 20px" src="http://34.87.185.176/image_checkin/{{imgr}}"
                                            alt="">
                                    </div>
                                </div>

                                <div style="margin-left: 40px; margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                                    <p style="font-size: 12pt;">ใช้สารเสพติดหรือไม่ : {{question}}</p>
                                </div>


                                <div style="margin-left: 40px; margin-top: 20px; margin-bottom: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                                    <button class="btn btn-info" (click)="export()">ปริ้น</button>
                                </div>

                            </div>



                            <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card project_widget">
                                    <div class="header">
                                        <h2>About</h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Full Name</strong>
                                                <br>
                                                <p class="text-muted">Emily Smith</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Mobile</strong>
                                                <br>
                                                <p class="text-muted">(123) 456 7890</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Email</strong>
                                                <br>
                                                <p class="text-muted">johndeo@example.com</p>
                                            </div>
                                            <div class="col-md-3 col-6">
                                                <strong>Location</strong>
                                                <br>
                                                <p class="text-muted">India</p>
                                            </div>
                                        </div>
                                        <p class="m-t-30">Completed my graduation in Arts from the well known and
                                            renowned institution
                                            of India – SARDAR PATEL ARTS COLLEGE, BARODA in 2000-01, which was
                                            affiliated
                                            to M.S. University. I ranker in University exams from the same
                                            university
                                            from 1996-01.</p>
                                        <p>Worked as Professor and Head of the department at Sarda Collage, Rajkot,
                                            Gujarat
                                            from 2003-2015 </p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s,
                                            when
                                            an unknown printer took a galley of type and scrambled it to make a
                                            type
                                            specimen book. It has survived not only five centuries, but also the
                                            leap
                                            into electronic typesetting, remaining essentially unchanged.</p>
                                        <br>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>